body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #343a40;
    padding: 5px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-brand:hover {
    color: #ff9900;
}

.nav-link {
    color: #ffffff;
    font-size: 1rem;
    margin-right: 10px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ff9900;
}

.btn-outline-success,
.btn-outline-light {
    color: #ffffff;
    border-color: #ff9900;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
    font-size: 1rem;
}

.btn-outline-success:hover,
.btn-outline-light:hover {
    background-color: #ff9900;
    border-color: #ff9900;
    color: #343a40;
}

.form-control {
    border-radius: 0;
    width: 100%;
    max-width: 500px;
    transition: width 0.4s;
}

.form-control:focus {
    max-width: 550px;
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-center .nav-item {
    margin-left: 10px;
}

.navbar-center .nav-link {
    padding-top: 5px;
}

.navbar-center .dropdown-menu {
    font-size: 1rem;
}

.navbar-center .form-control,
.navbar-center .btn-outline-success {
    height: 30px;
}

.table {
    margin-top: 20px;
}

.btn-primary {
    background-color: #ff9900;
    border-color: #ff9900;
}

.btn-primary:hover {
    background-color: #e68a00;
    border-color: #e68a00;
}

.alert {
    margin-top: 20px;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .navbar {
    background-color: #1f1f1f;
}

.dark-mode .table {
    background-color: #1f1f1f;
    color: #ffffff;
}

.dark-mode .card {
    background-color: #1f1f1f;
    color: #ffffff;
}

.dark-mode .card-title,
.dark-mode .card-text,
.dark-mode .card-price,
.dark-mode .card-quantity {
    color: #ffffff;
}

.dark-mode .carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
}

.dark-mode-toggle {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.dark-mode-toggle button {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .navbar-center {
        flex-direction: column;
    }

    .navbar-center .nav-item {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .navbar-center .form-control {
        width: 100%;
        max-width: none;
    }

    .navbar-center .btn-outline-success {
        width: 100%;
        margin-top: 10px;
    }
}