.w-450 {
	width: 450px;
}
.vh-100 {
	min-height: 100vh;
}

.purchase-form {
    text-align: center;
    margin-top: 20px;
}

.purchase-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}